:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.dark-background {
  background: #545B6C;
  color: #fff;
}

.toolbar {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  .toolbar-title {
    padding: 0 8px;
  }
}

.routes-list {
  padding: 16px;

  .route-link {
    padding: 8px 0;
    font-size: 18px;
    border: 2px solid transparent;
    cursor: pointer;
  }

  .route-link__active {
    border-bottom: 2px solid #fff; 
  }
}

.main-title,
.nav-menu-button,
.toggles-group {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}

.main-title {
  justify-content: center;
}

.toggles-group {
  justify-content: end;
}

.spacer {
  flex: 1 1 auto;
}

.extra-border {
  border-bottom: 1px solid rgba(0,0,0,.12);
  height: 40px;
  // box-sizing: border-box;
}

.sidenav-container {
  flex-grow: 1;
}

:host ::ng-deep .mat-tab-header,
:host ::ng-deep .mat-tab-label {
  height: 40px !important;
}

.mat-drawer-content {
  flex-direction: column;
  display: flex;
}

mat-sidenav {
  width: 250px;
}